@import '../../styles/variables';

.signUpContainer {
  padding: 30px;
  background: $color-2;
  max-width: 900px;
  border-radius: 20px;
  box-shadow: 4px 9px 20px 11px #44d7dd52;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .signUpTitle {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    color: $color-text-1
  }

  .signUpForm {
    list-style: none;
    display: flex;
    gap: 15px;
    flex-direction: column;

    label {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;

      .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
      }

      .showPassword {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        outline: none;
        border: none;
      }

      input {
        outline:none;
        border: 0.20px solid #dbe7e8;
        border-radius: 10px;
        width: 377px;
        height: 59px;
        background-color: $color-3;
        line-height: 1.10;
        letter-spacing: 0.04em;
        font: 400 16px Arial, sans-serif;
        padding: 0 50px;
        color: $color-text-1;

        &::placeholder {
          color: $color-text-1;
        }
      }

      input[type='checkbox']{
        border: 1px solid #00c2cb;
        border-radius: 4px;
        width: 18px;
        height: 18px;
        box-shadow: 0 0 2px 1px #00c2cb;
      }
    }

    .error {
      color: red;
      font-weight: bold;
      font-size: 14px;
      max-width: 375px;
      text-align: center;
    }
  }

  .signUpVariables {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;

    span {
      display: block;
      border-top: 1px solid black;
      width: 150px;

    }
  }

  .signUpButton {
    border: none;
    border-radius: 50px;
    width: 377px;
    height: 59px;
    box-shadow: 0 0 10px 0px #39c0d4;
    background: #06a0b5;
    line-height: 1.10;
    letter-spacing: 0.04em;
    text-align: center;
    color: $color-text-1;
    transition: all 0.2s ease;
    font: 700 16px Arial, sans-serif;

    &:hover {
      animation: button-hover 2s ease-in infinite;
      color: $color-2;
    }
  }

  .signUpSocial {
    display: flex;
    gap: 30px;

    button {
      border: 1px solid #fff;
      border-radius: 50%;
      display: flex;
      width: 50px;
      height: 50px;
      align-items: center;
      justify-content: center;
      background-color: $color-3;
      cursor: pointer;
    }
  }

  .account {
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0.04em;
    text-align: center;
    color: $color-text-1;
    text-shadow: 0 2px 20px #06a0b5;

    a {
      display: inline-block;
      text-decoration: none;
      font-weight: 700;
      color: #7ceeff;

      &:hover {
        animation: bounce 1s;
      }
    }
  }
}