/* color-schema */

$color-1: #1DB1B7;
$color-2: #44D7DD;
$color-3: #00C2CB;
$color-4: #A6F3FF;
$color-5: #446266;
$color-6: #61ADFB;

$color-get-started-bg: #41C3D6;


/* color-background */

$color-background-1: #FFFFFF;
$color-background-2: #1E1E1E;

/* color-text */

$color-text-1: rgba(255, 255, 255, 0.87);
$color-text-2: #8A9A9D;

/* input-range */

$track-color: #000000;
$thumb-color: #3498db;
$thumb-size: 15px;
$track-height: 6px;
$border-radius: 5px;
$thumb-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
