
.searchBarWrapper {
  display: flex;
  justify-content: center;

  .searchBarContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    width: fit-content;

    .searchBar {
      outline: none;
      border-radius: 10px;
      background: black;
      border: none;
      color: #ffffff;
      font-size: 20px;
      padding: 5px 50px 5px 10px;
    }

    .icon {
      position: absolute;
      right: 7px;
    }
  }
}



